@import "../constants";

.vh-75 {
  height: 75vh !important;
}

.min-vh-75 {
  min-height: 75vh !important;
}
.min-vh-65 {
  min-height: 65vh !important;
}
.min-vh-50 {
  min-height: 50vh !important;
}
.min-vh-35 {
  min-height: 35vh !important;
}

.min-vh-25 {
  min-height: 25vh !important;
}

.max-vh-40 {
  max-height: 40vh !important;
}

.vh-25 {
  height: 25vh !important;
}

.vh-50 {
  height: 50vh !important;
}

.w-80 {
  width: 80% !important;
}


small {
  font-size: 80%;
}
