<div class="app-header sticky-top">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="app-logos">
        <a href="https://datavid.com/" target="_blank"><img class="img-fluid" src="assets/datavid-favicon.webp" width="70"/></a>
        <a href="https://www.aikairos.com/" target="_blank"><img class="img-fluid" src="assets/aikairos-logo.png" width="100"/></a>
      </div>
      <div class="app-menu">
        <nav class="navbar">
          <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item">
              <a class="nav-link" [routerLink]="['/assets']">
                Assets
              </a>
            </li>
            <li class="list-inline-item">
              <a class="nav-link" [routerLink]="['/dashboard']">
                Dashboard
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
